
body {
    display: flex;
    flex-direction: row;
}

.events-container {
    overflow-x: auto; 
    overflow-y: auto; 
    white-space: nowrap;

    background-color: lightblue;
    width: 100%;

    .grid {
        display: flex;
        align-items: stretch;
        gap: 0.5rem;

        .col { 
            display: grid;
            flex-direction: column;
            gap: 0.5rem;

            flex-grow: 1;
            flex-basis: 0;
            min-width: 200px;
            background-color: lightgreen;

            .event {
                min-height: 50px;
                border: 1px solid;
            }
        }

        .timeline-col {
            min-width: 100px;
            background-color: lightcoral;
        }
    }

    .event {
        min-width: 200px;
        /* background-color: red; */
    }
}
