body,
button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#openCreateEventModal {
    margin-bottom: 0.5rem;
    width: 90%;
}

body {
    margin: 0;
}

.events-panel {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

#navigation-panel {
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    display: flex;
    border-radius: 0.2rem;
    z-index: 99999;
    background-color: white;

    #home-nav {
        display: flex;
        justify-content: left;
        align-items: center;

        a {
            padding: 1rem;
        }

        button,
        a.button {
            border: 0px;
            padding: 0px;
            margin: 0px;
        }

        #my-wallet-home-image {
            width: 100%;
        }
    }

    #actions-nav {
        display: flex;
        align-items: center;

        div {
            display: flex;
            gap: 1rem;
            padding: 0rem 1rem 0rem 1rem;
            width: 100%;
        }

        button {
            font-size: larger;
        }
    }

    #profile-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 10;
        padding-right: 1rem;

        button {
            font-size: larger;
        }
    }
}

.events-container {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .grid {
        border: solid 1px;
        border-radius: 0.5rem;
        display: flex;
        align-items: stretch;
        gap: 0.5rem;
        width: 90%;

        .col {
            display: grid;

            flex-grow: 1;
            flex-basis: 0;
            min-width: 200px;

            .event {
                /* min-height: 0px; */
                background-color: lightgrey;
                border: 1px solid;
                padding: 0.25rem;
                border-radius: 0.5rem;
                margin-right: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .event-header {
                    display: flex;
                    justify-content: space-between;

                    .event-title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .buttons-container {}
                }

                img {
                    margin-top: 0.5rem;
                    min-width: 100%;
                    max-width: 100%;
                }

            }

            .event:hover {
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                background-color: darkgray;
            }
        }

        .timeline-col {
            display: grid;

            min-width: 100px;
            background-color: whitesmoke;
            border-radius: 0.5rem;

            .timeline-timestamp {
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .event {
        min-width: 200px;
        /* background-color: red; */
    }
}

/* Style modal */
.modal {
    display: none;
    position: absolute;
    width: 99%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    text-wrap: wrap;

    img {
        max-width: 500px;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    margin-left: -25px;
    height: 50px;
    margin-top: -25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.category-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.category-item {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px 20px;
    border-left: 10px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.category-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
}

.category-name {
    font-size: 1.1em;
    color: #555;
}

@media print {

    #navigation-panel,
    button {
        display: none;
    }
}