<div id="navigation-panel">
    <div id="home-nav">
        <a class="button" href="/">
            <img id="graphical-journal-logo" src="assets/logo.png" height="50" width="50"
                alt="graphical-journal-logo"></a>
    </div>

    <div id="actions-nav">
        <div>
            <a class="button" href="/">Home</a>
            <a class="button" href="/categories">Journal categories</a>
        </div>
    </div>

    <div id="profile-nav">
        <a class="button" href="/login">Login</a>
    </div>
</div>